extends ../layout

append scripts
    script(src='/scripts/my-applications.js')

block content
    h3 My Applications
    .card
        .card-body.bg-light
            .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2
                .w-50
                    strong Title
                .w-25.text-center
                    strong Employer
                .d-flex.w-25
                    .w-50.text-center
                        strong Status
                    .w-50.text-center
                        strong Action
            each val, index in applications
                .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2(id='application-' + applications[index].application_id)
                    .w-50
                        a(href='/posting-details?post_id=' + applications[index].post_id + '&role=coordinator') [##{applications[index].post_id}] #{applications[index].title}
                    .w-25.text-center
                        a(href='/profile?user_id=' + applications[index].user_id) #{applications[index].username}
                    if applications[index].accepted === true
                        if applications[index].is_complete === true
                            form.form-inline.w-25.application-upvote(action='/application/upvote', method='POST')
                                .w-50.text-center
                                    span.badge.badge-success.application-status Complete
                                if applications[index].coord_upvoted === false
                                    .w-50.text-center
                                        input(type='hidden', name='id', value=applications[index].application_id)
                                        input(type='hidden', name='voted_user_id', value=applications[index].user_id)
                                        input(type='hidden', name='voter_id', value=applications[index].applicant_id)
                                        input.btn.btn-sm.btn-info(type='submit', value='Upvote User')
                        else
                            form.form-inline.w-25.application-complete(action='/application/complete', method='POST')
                                .w-50.text-center
                                    span.badge.badge-primary.application-status Accepted
                                .w-50.text-center
                                    input(type='hidden', name='id', value=applications[index].application_id)
                                    input(type='hidden', name='post_id', value=applications[index].post_id)
                                    input(type='hidden', name='voted_user_id', value=applications[index].user_id)
                                    input(type='hidden', name='voter_id', value=applications[index].applicant_id)
                                    if applications[index].progress === 'Open'
                                        input.btn.btn-sm.btn-primary(type='submit', value='Job Complete', disabled)
                                        span.badge.badge-secondary.ml-1(data-toggle='tooltip', data-placement='top', title='The job posting is still searching for applicants') ?
                                    else if applications[index].progress === 'In Progress'
                                        input.btn.btn-sm.btn-primary(type='submit', value='Job Complete')
                    else
                        form.form-inline.w-25.application-withdraw(action='/application/withdraw', method='POST')
                            .w-50.text-center
                                span.badge.badge-warning.application-status Waiting
                            .w-50.text-center
                                input(type='hidden', name='id', value=applications[index].application_id)
                                input.btn.btn-sm.btn-danger(type='submit', value='Withdraw')