extends ../layout

append scripts
    script(src='/scripts/profile.js')

block content
    .row
        .col-3
            .card
                .card-body
                    h3 Profile
                    .position-relative.mb-2
                        form#upload-profile-pic.position-absolute(method='POST', action='/upload-profile-pic', enctype='multipart/form-data')
                            input#profile-pic-input.d-none(name='profile_pic', type='file')
                            button#upload-profile-pic-button.btn.btn-success(type='button', data-toggle='tooltip', data-placement='top', title='Consider using a perfect square image')
                                i.fa.fa-plus(aria-hidden='true')
                        img.w-75.d-block.rounded-circle.mx-auto(src='/files/' + user.avatar_url)
                    .mb-2.d-flex.justify-content-end
                        h5
                            - var upvoteNum = 0
                            each v, i in upvotes
                                if user.user_id === upvotes[i].voted_user_id
                                    - upvoteNum++
                            if upvoteNum > 4
                                span.badge.badge-success.mr-1(data-toggle='tooltip', data-placement='top', title='This user is reputable amongst the community') Verified
                            else
                                span.badge.badge-secondary.mr-1(data-toggle='tooltip', data-placement='top', title='To become verified, you must receive enough approval from coordinators that jobs are completed') Unverified
                            span.badge.badge-secondary(data-toggle='tooltip', data-placement='top', title='Contact the administrator for more information on getting screened') Unscreened
                    .mb-2
                        label.w-35(for='name') Name:
                        | #{user.first_name} #{user.last_name}
                        if user.hide_email === false
                            .mb-2
                                label.w-35(for='email') Email:
                                a(href='mailto:' + user.email) #{user.email}
                        if user.hide_phone === false
                            .mb-2
                                label.w-35(for='phone') Phone #:
                                if user.phone_number === null
                                    | Not Specified
                                else
                                    | #{user.phone_number}
                            if user.other_phone
                                .mb-2
                                    label.w-35(for='other_phone') Other Phone #:
                                    |  #{user.other_phone}
                    .mb-2
                        label.w-35(for='location') Location:
                        if user.location === null
                            | Not Specified
                        else
                            | #{user.location}
                    .d-flex.justify-content-end
                        button#edit-profile-button.btn.btn-primary.btn-sm(type='button') Edit Profile
        .col-4
            #credentials.card.mb-3
                .card-body
                    h3 Credentials
                    small
                        i Certificates, licenses, etc.
                    form.delete-credential(action='/delete-credential', method='post')
                        .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2
                            a(href='#') Certified Interpreter of UVIC
                            button.btn.btn-sm.btn-danger(type='submit') Delete
                    form.delete-credential(action='/delete-credential', method='post')
                        .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2
                            a(href='#') Certified Interpreter of SFU
                            button.btn.btn-sm.btn-danger(type='submit') Delete
                    .card.mt-2
                        .card-body
                            h5.mb-0 Upload a Credential
                            small
                                i .gif .jpg .png .pdf (< 2 MB)
                    form.custom-file.mt-2(action='/upload-credential', method='post')
                        input.custom-file-input(type='file', name='credential')
                        label#upload-filename.custom-file-label(for='customFile') Choose file
                        .text-right.mt-2
                            input.btn.btn-sm.btn-primary(type='submit', value='Upload')
        .col-5
            .card.mb-3
                .card-body
                    h3 Options
                    form#options(method='POST', action='/apply-options')
                        input(type='hidden', name='user_id', value=user.user_id)
                        .form-inline.justify-content-between
                            .form-inline
                                if user.hide_email
                                    input#hide-email.form-control.mr-1(type='checkbox', name='hide_email', checked)
                                else
                                    input#hide-email.form-control.mr-1(type='checkbox', name='hide_email')
                                label(for='hide_email') Hide Email
                            .form-inline
                                if user.hide_phone
                                    input#hide-phone.form-control.mr-1(type='checkbox', name='hide_phone', checked)
                                else
                                    input#hide-phone.form-control.mr-1(type='checkbox', name='hide_phone')
                                label(for='hide_phone') Hide Phone
                            .form-inline
                                if user.email_notification
                                    input#email-notification.form-control(type='checkbox', name='email_notification', checked)
                                else
                                    input#email-notification.form-control(type='checkbox', name='email_notification')
                                label(for='email_notification') Email Notification
                        .text-right
                            input.btn.btn-primary.btn-sm(type='submit', value='Apply')
            .card
                .card-body
                    h3 Description
                    small
                        i Educations, work experiences, etc.
                    .card
                        .card-body #{user.description}
