extends ../layout

append scripts
    script(src='/scripts/posting-details.js')

block content
    .row
        .col-3
            .card
                .card-body
                    label.d-block(for='when') When:
                    |  #{post.on_what_day.toDateString()}
                    hr
                    label.d-block(for='time') Time:
                    |  #{post.time}
                    hr
                    label.d-block(for='type') Service Type:
                    |  #{post.type}
                    hr
                    label.d-block(for='school') Where:
                    |  #{post.school}
                    hr
                    label.d-block(for='preferred') Preferred:
                    if post.screened === true
                        span.badge.badge-success.mr-1 Screened
                    if post.verified === true
                        span.badge.badge-success.mr-1 Verified
                    hr
                    label.d-block(for='looking-for') Looking For:
                    if parseInt(post.num_of_interpreter) > 0
                        span.badge.badge-primary.mr-1 #{post.num_of_interpreter}x Interpreter(s)
                    if parseInt(post.num_of_transcriber) > 0
                        span.badge.badge-primary.mr-1 #{post.num_of_transcriber}x Transcriber(s)
                    hr
                    label.d-block(for='course-number') Course Number:
                    |  #{post.course_number}
                    if post.hide_email === false
                        hr
                        label.d-block(for='email') Email:
                        a(href=post.email)  #{post.email}
                    if post.hide_phone === false
                        hr
                        label.d-block(for='phone') Phone Number:
                        |  #{post.phone_number}
                        if post.other_phone
                            hr
                            label.d-block(for='other_phone') Alternate Phone Number:
                            |  #{post.other_phone}
        .col-9
            .card.mb-2
                .card-header
                    .d-flex.justify-content-between
                        - var acceptedNum = 0
                        each v, i in applicant
                            if applicant[i].accepted === true
                                - acceptedNum++
                        h3 [##{post.post_id}] #{post.title}
                        h3
                            if post.progress === 'Fulfilled'
                                span.badge.badge-info.ml-1 Fulfilled
                            else if post.progress === 'Open'
                                span.badge.badge-primary.ml-1 Open
                            else if post.progress === 'In Progress'
                                span.badge.badge-warning.ml-1 In Progress
                            else if post.progress === 'Complete'
                                span.badge.badge-success.ml-1 Complete
                    strong
                        | Posted on #{post.date_created.toDateString()} by 
                        a(href='/profile?user_id=' + post.user_id) #{post.username}
                        - var coordinatorUpvoteNum = 0
                        each v, i in upvote
                            if upvote[i].voted_user_id === post.user_id
                                - coordinatorUpvoteNum++
                        span.badge.badge-primary.ml-1 +#{coordinatorUpvoteNum}
                .card-body
                    label.d-block(for='details') Details:
                    | #{post.detail}
            
            if user.role === 'coordinator'
                .card
                    .card-body
                        h3 Applicants
                        hr
                        if applicant.length > 0
                            each val, index in applicant
                                .applicant.border-bottom.mb-2.pb-2
                                    .d-flex.justify-content-between.align-items-center.mx-auto
                                        .w-5
                                            img.rounded-circle.w-90(src=applicant[index].avatar_url)
                                        .w-75
                                            a(href='/profile?user_id=' + applicant[index].user_id) #{applicant[index].username}
                                            if applicant[index].is_screened
                                                span.badge.badge-success.ml-1 Screened
                                            else
                                                span.badge.badge-secondary.ml-1 Unscreened
                                            if applicant[index].verified
                                                span.badge.badge-success.ml-1 Verified
                                            else
                                                span.badge.badge-secondary.ml-1 Unverified
                                            - var applicantUpvoteNum = 0
                                            each v, i in upvote
                                                if upvote[i].voted_user_id === applicant[index].user_id
                                                    - applicantUpvoteNum++
                                            span.badge.badge-primary.ml-1 +#{applicantUpvoteNum}
                                        .w-20.d-flex.justify-content-end
                                            if applicant[index].accepted === true && post.progress === 'Complete' && applicant[index].ti_upvoted === false
                                                form.application-upvote.mr-1(method='POST', action='/application/upvote')
                                                    input(type='hidden', name='id', value=applicant[index].application_id)
                                                    input(type='hidden', name='voter_id', value=applicant[index].user_id)
                                                    input(type='hidden', name='voted_user_id', value=applicant[index].applicant_id)
                                                    input.btn.btn-info.btn-sm(type='submit', value='Upvote User')
                                            a(href='mailto:' + applicant[index].email)
                                                button.btn.btn-primary.btn-sm.mr-1(type='button') Email
                                            if applicant[index].accepted === false
                                                form.accept-applicant(method='POST', action='/accept-applicant')
                                                    input(type='hidden', name='application_id', value=applicant[index].application_id)
                                                    input(type='hidden', name='post_id', value=applicant[index].post_id)
                                                    input(type='hidden', name='user_id', value=applicant[index].user_id)
                                                    input.btn.btn-success.btn-sm(type='submit', value='Accept')
                                            else
                                                button.btn.btn-sm.btn-success(type='button', disabled) Accepted
                                                //--form.revoke-applicant(method='POST', action='/revoke-applicant')
                                                    input(type='hidden', name='application_id', value=applicant[index].application_id)
                                                    input(type='hidden', name='post_id', value=applicant[index].post_id)
                                                    input(type='hidden', name='user_id', value=applicant[index].user_id)
                                                    input.btn.btn-danger.btn-sm(type='submit', value='Revoke')
                                    .applicant-comment
                                        label(for='comment') Comment:
                                        |  #{applicant[index].comments}
                        else
                            .alert.alert-warning.text-center
                                h4 There are no applicants
            else if user.role === 'ti'
                .card.mb-2
                    .card-body
                        if applicant.length > 0
                            h3 Applicants
                            hr
                            each val, index in applicant
                                .applicant.border-bottom.mb-2.pb-2
                                    .d-flex.justify-content-between.align-items-center.mx-auto
                                        .w-5
                                            img.rounded-circle.w-90(src=applicant[index].avatar_url)
                                        .w-95
                                            a(href='/profile?user_id=' + applicant[index].user_id) #{applicant[index].username}
                                            if applicant[index].is_screened
                                                span.badge.badge-success.ml-1 Screened
                                            else
                                                span.badge.badge-secondary.ml-1 Unscreened
                                            if applicant[index].verified
                                                span.badge.badge-success.ml-1 Verified
                                            else
                                                span.badge.badge-secondary.ml-1 Unverified
                                            - var applicantUpvoteNum = 0
                                            each v, i in upvote
                                                if upvote[i].voted_user_id === applicant[index].user_id
                                                    - applicantUpvoteNum++
                                            span.badge.badge-primary.ml-1 +#{applicantUpvoteNum}
                                    .applicant-comment
                                        label(for='comment') Comment:
                                        |  #{applicant[index].comments}
                .card
                    .card-body
                        - var applied = false
                        each val, index in applicant
                            if applicant[index].user_id === user.user_id
                                - applied = true
                        if !applied
                            if acceptedNum === (parseInt(post.num_of_interpreter) + parseInt(post.num_of_transcriber))
                                .alert.alert-info.text-center
                                    h4 The number of applicants have been fulfilled
                            else
                                h3 Apply
                                form(action='/apply', method='post')
                                    input(type='hidden', name='post_id', value=post.post_id)
                                    input(type='hidden', name='user_id', value=user.user_id)
                                    .form-group
                                        input.form-control(type='text', name='comment', maxlength='100', placeholder='Enter any comments here')
                                    .form-group.text-right
                                        input.btn.btn-primary.mr-1(type='submit', value='Apply')
                                        input.btn.btn-secondary(type='reset', value='Clear')
                        else
                            .alert.alert-info.text-center
                                h4 You applied to this post
    //--.card
        .card-body.bg-light
            .d-flex.justify-content-between.flex-wrap
                .w-24
                    label(for='when') When:
                    |  #{post.time}
                .w-24
                    label(for='location') Type:
                    |  #{post.type}
                .w-24
                    label(for='school') Where:
                    |  #{post.school}
                .w-24
                    label(for='preferred') Preferred:
                    if post.screened
                        span.badge.badge-success.ml-1 Screened
                    if post.verified
                        span.badge.badge-success.ml-1 Verified
                .w-24
                    label(for='looking-for') Looking:
                    if parseInt(post.num_of_interpreter) > 0
                        span.badge.badge-primary.ml-1 Interpreter
                    if parseInt(post.num_of_transcriber) > 0
                        span.badge.badge-primary.ml-1 Transcriber
                .w-24
                    label(for='course-number') Course #:
                    |  #{post.course_number}
                .w-24
                    label(for='email') Email:
                    a(href=post.email)  #{post.email}
                .w-24
                    label(for='phone') Phone:
                    |  #{post.phone_number}
                    if post.other_phone
                        |  / #{post.other_phone}
            if user.role === 'coordinator'
                label(for='application-status') Application Status:
                .d-flex.justify-content-around.alert.alert-info
                    h5 Transcriber Found: 0/
                        if parseInt(post.num_of_transcriber) > 0
                            | #{post.num_of_transcriber}
                        else
                            | 0
                    h5 Interpreter Found: 0/
                        if parseInt(post.num_of_interpreter) > 0
                            | #{post.num_of_interpreter}
                        else
                            | 0
            .card.mb-2
                .card-body
                    label.d-block(for='details') Details:
                    | #{post.detail}
            if user.role === 'coordinator'
                h3 Applicants
                hr
                each val, index in applicant
                    .applicant.border-bottom.mb-2.pb-2
                        .d-flex.justify-content-between.align-items-center.mx-auto
                            .w-5
                                img.rounded-circle.w-90(src='/files/' + applicant[index].avatar_url)
                            .w-75
                                a(href='/profile') #{applicant[index].username}
                                if applicant[index].is_screened
                                    span.badge.badge-success.ml-1 Screened
                                else
                                    span.badge.badge-secondary.ml-1 Unscreened
                                if applicant[index].verified
                                    span.badge.badge-success.ml-1 Verified
                                else
                                    span.badge.badge-secondary.ml-1 Unverified
                                - var upvoteNum = 0
                                each v, i in upvote
                                    if upvote[i].voted_user_id === applicant[index].user_id
                                        - upvoteNum++
                                span.badge.badge-primary.ml-1 +#{upvoteNum}
                            .w-20.text-right
                                button.btn.btn-sm.btn-primary.mr-1(type='button') Send Message
                                button.btn.btn-sm.btn-success(type='button') Accept
                        .applicant-comment
                            label(for='comment') Comment:
                            |  #{applicant[index].comments}
            else if user.role === 'ti'
                h3 Apply
                - var applied = false
                each val, index in applicant
                    if applicant[index].user_id === user.user_id
                        - applied = true
                if !applied
                    form(action='/apply', method='post')
                        input(type='hidden', name='post_id', value=post.post_id)
                        input(type='hidden', name='user_id', value=user.user_id)
                        .form-group
                            input.form-control(type='text', name='comment', maxlength='100', placeholder='Enter any comments here')
                        .form-group.text-right
                            input.btn.btn-primary.mr-1(type='submit', value='Apply')
                            input.btn.btn-secondary(type='reset', value='Clear')
                else
                    .alert.alert-info.text-center
                        h4 You've already applied to this post