extends ../layout

append scripts
    script(src='/scripts/edit-profile.js')

block content
    if message === 'invalid'
        script.
            alertify.parent(document.body);
            alertify.alert('Invalid file type.')
    else if message === 'big'
        script.
            alertify.parent(document.body);
            alertify.alert('File is too big.')
    h3 Edit Profile
    .card.mb-3
        .card-body
            form#edit_profile(action='/edit-profile', method='post')
                .d-flex.justify-content-between
                    .form-group.w-45
                        label(for='first-name') First Name:
                        input#first_name.form-control(type='text', name='first_name',value=user.first_name)
                    .form-group.w-45
                        label(for='last-name') Last Name:
                        input#last_name.form-control(type='text', name='last_name',value = user.last_name)
                .d-flex.justify-content-between
                    .form-group.w-45
                        label(for='phone') School:
                        select#school.form-control(name='school')
                            option(value='uvic') University of Victoria
                            option(value='sfu') Simon Fraser University
                            option(value='ubc') University of British Columbia
                            option(value='bcit') BCIT
                    .form-group.w-45
                        label(for='location') Location:
                        input#location.form-control(type='text', name='location',value = user.location)
                .d-flex.justify-content-between
                    .form-group.w-45
                        label(for='phone') Primary Phone #:
                        input#phone.form-control(type='text', name='phone',value = user.phone_number)
                    .form-group.w-45
                        label(for='other-phone') Secondary Phone #:
                        input#other_phone.form-control(type='text', name='other_phone',value = user.other_phone)
                .d-flex.justify-content-between
                    .form-group.w-45
                        label.mr-2(for='age') Age:
                        input#age.form-control(type='number', name='age',value=user.age)
                    .form-group.w-45
                        label.mr-2(for='gender') Gender:
                        select#gender.form-control(name='gender',value=user.gender)
                            option
                            option(value='male') Male
                            option(value='female') Female
                .form-group
                    label(for='profile-description') Description:
                    textarea#desc.form-control.w-100(name='profile_description', rows='10',value=user.description)
                .text-right
                    input#update_profile.btn.btn-primary.mr-1(type='submit', value='Update')
                    input.btn.btn-secondary(type='reset', value='Clear')
    h3 Change Email
    .card.mb-3
        .card-body
            form#change-email(action='/change-email', method='post')
                .d-flex.justify-content-between
                    .form-group.w-45
                        label(for='email') New Email:
                        input#email.form-control(type='email', name='email')
                    .form-group.w-45
                        label(for='confirm-email') Confirm Email:
                        input#confirm_email.form-control(type='email', name='confirm_email')
                .text-right
                    input#update_email.btn.btn-primary(type='submit', value='Update')
    h3 Change Password
    .card.mb-3
        .card-body
            form#change-password(action='/change-password', method='post')
                .d-flex.justify-content-between
                    .form-group.w-33
                        label(for='current-password') Current Password:
                        input#current_password.form-control(type='password', name='current_password')
                    .form-group.w-33
                        label(for='new-password') New Password:
                        input#newpassword.form-control(type='password', name='new_password')
                    .form-group.w-33
                        label(for='confirm-password') Confirm Password:
                        input#confirm_password.form-control(type='password', name='confirm_password')
                .text-right
                    input#update_pass.btn.btn-primary(type='submit', value='Update')
    h3 Manage Documents
    .card
        .card-body.d-flex.justify-content-between
            #documents.w-49
                if documents.length > 0
                    each val, index in documents
                        div(id='document-' + documents[index].id).d-flex.justify-content-between.documents.mb-2.pd-2.border-bottom
                            - var split_url = documents[index].url.split('.');
                            - var extension = split_url.pop();
                            .w-90
                                img(src='/image/' + extension + '.png')
                                a(href='/documents/' + documents[index].owner_id + '/' + documents[index].url) #{documents[index].title}
                            .w-10
                                form.delete-document(method='POST', action='/delete-document')
                                    input(type='hidden', name='id', value=documents[index].id)
                                    input.btn.btn-sm.btn-danger(type='submit', value='Delete')
            .w-49
                form.custom-file.mt-2(action='/upload-document', method='post', enctype='multipart/form-data')
                    input#upload-file.custom-file-input(type='file', name='document')
                    label#upload-filename.custom-file-label(for='customFile') Choose file
                    small .gif .jpg .png .pdf .doc < 2 MB
                    label.d-block(for='title').mt-2 Title/Name:
                    input.form-control(type='text', name='title', maxlength='50', required)
                    .text-right.mt-2
                        input.btn.btn-sm.btn-primary.mr-1(type='submit', value='Upload')
                        input.btn.btn-sm.btn-secondary#clear-upload(type='reset', value='Clear')