extends ../layout

append scripts
    script(src='/scripts/message-details.js')

block content
    h3 #{message.subject}
    .card
        .card-header
            .d-flex
                if message.sender === user.username
                    .w-10
                        strong To:
                    div #{message.recipient}
                else
                    .w-10
                        strong From:
                    div #{message.sender}
            .d-flex
                .w-10
                    strong Date:
                div #{convertDate(message.date_created, true)}
        .card-body #{message.message}
        if message.recipient === user.username
            .card-footer.text-right
                a(href='/compose?recipient=' + message.sender + '&id=' + message.message_id)
                    button.btn.btn-primary.mr-1#reply(type='button') Reply