extends ../layout

append scripts
    script(src='/scripts/messages.js')

block content
    h3 Messages
    .mb-2
        button#compose.btn.btn-primary(type='button') Compose
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active#inbox-tab(href='#inbox', data-toggle='tab', role='tab', aria-controls='inbox', aria-selected='true') Inbox
        li.nav-item
            a.nav-link#outbox-tab(href='#outbox', data-toggle='tab', role='tab', aria-controls='outbox', aria-selected='true') Outbox
    .tab-content
        .card.tab-pane.fade.show.active#inbox(role='tabpanel', aria-labelledby='inbox-tab')
            .card-body
                table.table.table-striped.table-light.table-bordered
                    thead
                        tr
                            th Subject
                            th.w-15 Sender
                            th.w-25 Date Received
                            th.w-10
                    tbody
                        each v, i in inbox
                            tr.font-weight-bold
                                td
                                    a(href='/message-details') #{inbox[i].subject}
                                td #{inbox[i].sender}
                                td #{convertDate(inbox[i].date_created, true)}
                                td
                                    if inbox[i].is_read === false
                                        form.mark-as-read.text-center(action='/mark-as-read', method='post')
                                            input(type='hidden', name='message_id', value=inbox[i].message_id)
                                            input.btn.btn-sm.btn-success.mr-1(value='Mark As Read', type='submit')
        .card.tab-pane.fade#outbox(role='tabpanel', aria-labelledby='outbox-tab')
            .card-body
                table.table.table-striped.table-light.table-bordered
                    thead
                        tr
                            th Subject
                            th.w-15 Recipient
                            th.w-15 Date Sent
                    tbody
                        each v, i in outbox
                            tr.font-weight-bold
                                td
                                    a(href='/message-details') #{outbox[i].subject}
                                td #{outbox[i].recipient}
                                td #{outbox[i].date_created.toDateString()}