extends ../layout

append scripts
    script(src='/scripts/profile.js')

block content
    .row
        .col-4
            .card
                .card-body.bg-light
                    h3 Profile
                    .position-relative.mb-2
                        button.btn.btn-success.position-absolute#upload-profile-pic-button(type='button')
                            i.fa.fa-plus(aria-hidden='true')
                        img.w-75.d-block.rounded-circle.mx-auto(src=user.avatar_url)
                    .mb-2.d-flex.justify-content-end
                        h5
                            span.badge.badge-secondary.mr-1(data-toggle='tooltip', data-placement='top', title='To become verified, you must receive enough approval from coordinators that jobs are completed') Unverified
                            span.badge.badge-secondary(data-toggle='tooltip', data-placement='top', title='Contact the administrator for more information on getting screened') Unscreened
                    .mb-2
                        label.w-35(for='name') Name:
                        | #{user.first_name} #{user.last_name}
                    .mb-2
                        label.w-35(for='email') Email:
                        | #{user.email}
                    .mb-2
                        label.w-35(for='phone') Phone #:
                        if user.phone_number === null
                            | Not Specified
                        else
                            | #{user.phone_number}
                    .mb-2
                        label.w-35(for='location') Location:
                        if user.location === null
                            | Not Specified
                        else
                            | #{user.location}
                    .d-flex.justify-content-end
                        button#edit-profile-button.btn.btn-primary(type='button') Edit Profile
        .col-4
            #credentials.card.mb-3
                .card-body.bg-light
                    h3.mb-0 Credentials
                    small
                        i Certificates, licenses, etc.
                    form.delete-credential(action='/delete-credential', method='post')
                        .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2
                            a(href='#') Certified Interpreter of UVIC
                            button.btn.btn-sm.btn-danger(type='submit') Delete
                    form.delete-credential(action='/delete-credential', method='post')
                        .d-flex.justify-content-between.align-items-center.border-bottom.pb-2.mb-2
                            a(href='#') Certified Interpreter of SFU
                            button.btn.btn-sm.btn-danger(type='submit') Delete
                    .card.mt-2
                        .card-body
                            h5.mb-0 Upload a Credential
                            small
                                i .gif .jpg .png .pdf (< 2 MB)
                    form.custom-file.mt-2(action='/upload-credential', method='post')
                        input.custom-file-input(type='file', name='credential')
                        label#upload-filename.custom-file-label(for='customFile') Choose file
                        .text-right.mt-2
                            input.btn.btn-sm.btn-primary(type='submit', value='Upload')
        .col-4
            .card
                .card-body.bg-light
                    h3.mb-0 Description
                    small
                        i Educations, work experiences, etc.
                    .card
                        .card-body #{user.details}
