extends ../layout

append scripts
    script(src='/scripts/posting-details.js')

block content
    .row
        .col-4
            .card
                .card-body
                    - var daysArray = post.days_available.split(', ')
                    - var mon = daysArray.indexOf('Mon')
                    - var tue = daysArray.indexOf('Tue')
                    - var wed = daysArray.indexOf('Wed')
                    - var thu = daysArray.indexOf('Thu')
                    - var fri = daysArray.indexOf('Fri')
                    - var sat = daysArray.indexOf('Sat')
                    - var sun = daysArray.indexOf('Sun')
                    if post.hide_email === false
                        label.d-block(for='email') Email:
                        a(href='mailto:' + post.email) #{user.email}
                        hr
                    if post.hide_phone === false
                        label.d-block(for='phone') Phone Number:
                        | #{post.phone_number}
                        hr
                    label.d-block(for='time') Time:
                    | #{post.time_available}
                    hr
                    label.d-block(for='starting') Starting:
                    | #{post.starting.toDateString()}
                    hr
                    label.d-block(for='recurring') Recurring:
                    | #{post.recurring}
                    hr
                    label.d-block(for='days') Available:
                    if mon !== -1
                        span.badge.badge-success.mr-1 Monday
                    if tue !== -1
                        span.badge.badge-secondary.mr-1 Tuesday
                    if wed !== -1
                        span.badge.badge-danger.mr-1 Wednesday
                    if thu !== -1
                        span.badge.badge-warning.mr-1 Thursday
                    if fri !== -1
                        span.badge.badge-info.mr-1 Friday
                    if sat !== -1
                        span.badge.badge-dark.mr-1 Saturday
                    if sun !== -1
                        span.badge.badge-primary.mr-1 Sunday
        .col-8
            .card.mb-2
                .card-header
                    h3 [##{post.post_id}] #{post.title}
                    strong
                        | Posted on #{post.date_created.toDateString()} by 
                        a(href='/profile?user_id=' + post.user_id) #{post.username} 
                .card-body
                    label.d-block(for='details') Details:
                    | #{post.details}
            //--.card
                .card-body
                    h3 Send Message
                    form(action='/send-message' + post.user_id)
                        input(type='hidden', name='sender', value=user.username)
                        input(type='hidden', name='recipient', value=post.username)
                        .form-group
                            label.d-block(for='subject') Subject:
                            input.form-control(type='text', name='subject')
                        .form-group
                            label.d-block(for='message') Message:
                            textarea.form-control.w-100(name='message', rows='6')
                        .text-right
                            input.btn.btn-primary.mr-1(type='submit', value='Send')
                            input.btn.btn-secondary(type='reset', value='Clear')
